KERBEROS_PASSWORD="replace-with-the-same-secret-as-auth"
MONGO_URI="mongodb://user:password@mongo:27017/pretendo?authSource=admin"
DATABASE_URI="postgres://badgecade:password@postgres:5432/badgecade?sslmode=disable"
FILE_SERVER_PUBLIC_URL="https://data.badgecade.com"
FILE_SERVER_HMAC_SECRET="replace-with-a-64-character-hex-secret"
FILE_SERVER_STORAGE_PATH="/storage"
